## Core latex/pdflatex auxiliary files:
*.aux
*.log
*.out
*.toc
*.fls

## Bibliography auxiliary files (bibtex):
*.bbl
*.blg

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
